# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exp
*.pdb
*.idb
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
# Compiled Static libraries
# Executables
*.exe
*.out
*.app
*.dll
*.lib
*.so
*.dylib

*.pdb
*.idb
*.recipe
*.log
*.ilk
*.tlog
*.lastbuildstate
*.vcxproj
*.filters
*.user
*.sln
*.xlsx
**/.project

*.workspace
*.mk
compile_commands.json
Makefile
*.DS_Store
**/concept

.vs/
.git/

# Resources not to be ignored
!resources/*
!**resources/**