[submodule "3rdparty/glfw/glfw"]
	path = 3rdparty/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rdparty/rttr/rttr"]
	path = 3rdparty/rttr/rttr
	url = https://github.com/CyberPlaton/rttr.git
[submodule "3rdparty/flecs/flecs"]
	path = 3rdparty/flecs/flecs
	url = https://github.com/CyberPlaton/flecs.git
[submodule "3rdparty/tracy/tracy"]
	path = 3rdparty/tracy/tracy
	url = https://github.com/CyberPlaton/tracy.git
